body {
    color: #555;
    padding-top: 54px;
}
nav.bg-dark {
    background-color: #004085!important;
}
footer.bg-dark {
    background-color: #d0d0d0!important;
}
p.text-white {
    color: #505050!important;
}
header {
    padding: 40px 0 2px 0;
}
p.lead {
    font-size: 1.75em;
}
img#page-logo {
    width: auto;
    height: 50px;
    margin: 2px;
}
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th {
    font-size: 1.0em;
    padding: 15px 8px;
    background-color: #def;
    border-color: #bbb;
}
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    font-size: 0.9em;
    padding: 8px 8px;
    vertical-align: middle;
    border-color: #ccc;
}
form {
    padding: 1.35em;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0.35em;
    text-align: right;
}
form h6 {
    margin: 0.5rem 0 0.2rem 0;
}
form>button {
    width: 150px;
    margin-top: 0.5em;
}
section#main-content {
    padding: 0 0 3em 0;
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.0em;
    padding: 0.7em 0;
    font-size: 0.8em;
}
p.lead>b {
    font-weight: 500;
    color: yellow;
}
textarea.form-control {
    min-height: 300px;
}
button.font-awesome>i.fa {
    margin: 0 0.4em 0 0;
}
button.left-align {
    padding: 0.5em 8.0em;
    text-align: left;
}
div#load-icon {
    height: 0;
}
img#page-loader {
    position: fixed;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}
span.list-title {
    font-size: 1.6em;
    font-weight: bold;
    float: left;
    padding-right: 20px;
}
span.list-search {
    float: left;
    padding-right: 20px;
}
tr.requested td {
	color: #B74934;
}
tr.commited td {
	color: #577492;
}
img.preview {
    width: 140px;
    height: 70px;
    padding: 1px;
    border: 1px solid #ccc;
}
img.full-preview {
    max-width: 100%;
    height: auto;
    padding: 1px;
    border: 1px solid #ccc;
}
