<div ng-show="module == 'auth'" ng-controller="authController">
   
    <div class="container" ng-show="action == 'login'">
        <div class="py-4 row">
            <div class="col-lg-4 offset-lg-4">
                <h2>Logowanie</h2>
                <form>
                    <input type="hidden" ng-model="formData.ip">
                    <div class="form-group text-left">
                        Login:
                        <input type="text" class="form-control" ng-model="formData.login" ng-disabled="status == 'wait'"> 
                        Hasło:
                        <input type="password" class="form-control" ng-model="formData.password" ng-disabled="status == 'wait'"> 
                    </div>
                    <button type="submit" class="btn btn-primary btn-block font-awesome" ng-click="loginUser()" ng-disabled="status == 'wait'"><i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'panel'">
        <div class="py-4 row">
            <div class="col-lg-4 offset-lg-4">
                <h2>Admin Panel</h2>
                <hr>
                <h3>Login: {{ currentUser.login }}</h3>
                <h3>E-mail: {{ currentUser.email }}</h3>
                <h3>Register: {{ currentUser.date }}</h3>
                <h3>UserId: {{ currentUser._id }}</h3>
                <h3>Admin: {{ currentUser.isLogged }}</h3>
                <hr>
                <button class="btn btn-primary btn-block" ng-click="getAppPages()">Strony</button>
                <button class="btn btn-primary btn-block" ng-click="getAppUsers()">Userzy</button>
                <hr>
                <button class="btn btn-danger btn-block" ng-click="logoutUser()">Wyloguj</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="py-4 row">
            <div class="col-lg-6 offset-lg-3">
                <div ng-if="status == 'info'" class="alert alert-success" role="alert">{{ message }}</div>
                <div ng-if="status == 'error'" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
        </div>
    </div>

</div>
