<div ng-show="module == 'auth'" ng-controller="authController">
   
    <div class="container" ng-show="action == 'register'">
        <div class="py-4 row">
            <div class="col-lg-4 offset-lg-4">
                <h2 class="py-3">Rejestracja</h2>
                <form class="form">
                    <input type="hidden" ng-model="formData.ip">
                    <div class="form-group text-left">
                        <h6>Login:</h6>
                        <input type="text" class="form-control" ng-model="formData.login" ng-disabled="status == 'wait'"> 
                        <h6>E-mail:</h6>
                        <input type="email" class="form-control" ng-model="formData.email" ng-disabled="status == 'wait'"> 
                        <h6>Hasło:</h6>
                        <input type="password" class="form-control" ng-model="formData.password" ng-disabled="status == 'wait'"> 
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block font-awesome" ng-click="registerUser()" ng-disabled="status == 'wait'"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Zarejestruj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'login'">
        <div class="py-4 row">
            <div class="col-lg-4 offset-lg-4">
                <h2 class="py-3">Logowanie</h2>
                <form class="form">
                    <input type="hidden" ng-model="formData.ip">
                    <div class="form-group text-left">
                        <h6>Login:</h6>
                        <input type="text" class="form-control" ng-model="formData.login" ng-disabled="status == 'wait'"> 
                        <h6>Hasło:</h6>
                        <input type="password" class="form-control" ng-model="formData.password" ng-disabled="status == 'wait'"> 
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary btn-block font-awesome" ng-click="loginUser()" ng-disabled="status == 'wait'"><i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'panel'">
        <div class="py-4 row">
            <div class="col-lg-4 offset-lg-4">
                <h3>Admin Panel</h3>
                <hr>
                <h6>Login: {{ currentUser.login }}</h6>
                <h6>E-mail: {{ currentUser.email }}</h6>
                <hr>
                <button class="btn btn-primary btn-block font-awesome" ng-click="getAppPages()"><i class="fa fa-file-text-o" aria-hidden="true"></i> Strony</button>
                <button class="btn btn-primary btn-block font-awesome" ng-click="getAppUsers()"><i class="fa fa-user" aria-hidden="true"></i> Użytkownicy</button>
                <button class="btn btn-primary btn-block font-awesome" ng-click="getAppMessages()"><i class="fa fa-envelope-o" aria-hidden="true"></i> Wiadomości</button>
                <hr>
                <button class="btn btn-danger btn-block font-awesome" ng-click="logoutUser()"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj</button>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'logout'">
        <div class="py-4 row">
            <div class="col-lg-4 offset-lg-4">
                <h2>Wylogowanie</h2>
                <hr>
                <button class="btn btn-danger btn-block" ng-click="getHome()">Zamknij</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="py-4 row">
            <div class="col-lg-6 offset-lg-3">
                <div ng-if="status == 'info'" class="alert alert-success" role="alert">{{ message }}</div>
                <div ng-if="status == 'error'" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
        </div>
    </div>

</div>
