<div ng-show="module == 'backup'" ng-controller="backupController">
   
    <div class="container" ng-show="action == 'view'">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-3 text-right">
                    <span class="list-title"><i class="fa fa-database" aria-hidden="true"></i> Backup</span>
                    <span class="list-search"><input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj"></span>
                    <button class="btn btn-success font-awesome" ng-click="openBackup()"><i class="fa fa-plus" aria-hidden="true"></i> Wczytaj backup</button>
                    <button class="btn btn-primary font-awesome" ng-click="getBackup()" id="get-backup"><i class="fa fa-refresh" aria-hidden="true"></i> Odśwież listę</button>
                    <button class="btn btn-danger" ng-click="getPanel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th class="text-left">Tabela</th>
                        <th class="text-left">Rekordy</th>
                        <th class="text-center">Count</th>
                    </tr>
                    <tr ng-if="backup.pages">
                        <td class="text-left">Pages</td>
                        <td class="text-left">{{ backup.pages | filter:searchValue }}</td>
                        <td class="text-center">{{ backup.pages.length }}</td>
                    </tr>
                    <tr ng-if="backup.settings">
                        <td class="text-left">Settings</td>
                        <td class="text-left">{{ backup.settings | filter:searchValue }}</td>
                        <td class="text-center">{{ backup.settings.length }}</td>
                    </tr>
                    <tr ng-if="backup.length == 0">
                        <td colspan="3"><span class="empty-list"><i class="fa fa-times-circle" aria-hidden="true"></i></span><br>Brak pozycji.</td>
                    </tr>
                </table>
                <div class="py-3 text-center">
                    Statystyka: <b>{{ backup.pages.length + backup.settings.length }}</b> rekordów
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" ng-show="action == 'restore'">
        <div class="py-4 row">
            <div class="col-lg-12">
                <form class="form">
                    <span class="form-title container"><i class="fa fa-database" aria-hidden="true"></i> Backup</span>
                    <div class="form-group text-left">
                        <h6>Tabela:</h6>
                        <select class="form-control" ng-model="formData.table">
                            <option value="pages">Pages</option>
                            <option value="settings">Settings</option>
                        </select>
                        <h6>Skrypt:</h6>
                        <textarea class="form-control" rows="14" ng-model="formData.script" spellcheck="false"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary font-awesome" ng-click="restoreBackup()"><i class="fa fa-copy" aria-hidden="true"></i> Uruchom</button>
                    <button type="submit" class="btn btn-warning font-awesome" ng-click="cancelBackup()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="py-4 row">
            <div class="col-lg-6 offset-lg-3">
                <div ng-if="status == 'info'" class="alert alert-success" role="alert">{{ message }}</div>
                <div ng-if="status == 'error'" class="alert alert-danger" role="alert">{{ message }}</div>
            </div>
        </div>
    </div>

</div>
