<div class="container" ng-show="action == 'contact'">
   
    <style>
        div#contact-content {
            margin: 1.0em 0;
            text-align: left;
        }
    </style>

    <div ng-show="status == 'ready'">
        <div id="contact-content" ng-bind-html="pageData.description"></div>
    </div>

    <div ng-show="status == 'loading'">
        <div id="load-icon">
            <img src="loader.gif" id="page-loader" alt="MEAN Stack Loader">
        </div>
    </div>

</div>
