<div class="container" ng-show="action == 'contact'">
   
    <div class="py-4 row">
       
        <style>
            div#contact-content {
                margin: 1.0em 0;
                text-align: left;
            }
        </style>

        <div ng-show="status == 'ready'">
            <div class="col-lg-10 offset-lg-1">
                <div id="contact-content">{{ pageData.description }}</div>
            </div>
        </div>

        <div ng-show="status == 'loading'">
            <div id="load-icon">
                <img src="loader.gif" id="page-loader" alt="MEAN Stack Loader">
            </div>
        </div>

    </div>

</div>
