<div class="py-4 row" ng-show="action == 'new'">
    <div class="col-lg-8 offset-lg-2">
        <form>
            <input type="hidden" ng-model="formData.ip">
            <div class="form-group text-left">
                <label>New item:</label>
                <textarea class="form-control" rows="14" ng-model="formData.text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="createTodo()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button type="submit" class="btn btn-warning" ng-click="cancelTodo()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        </form>
    </div>
</div>

<div class="py-4 row" ng-show="action == 'edit'">
    <div class="col-lg-8 offset-lg-2">
        <form>
            <input type="hidden" ng-model="formData.ip">
            <div class="form-group text-left">
                <label>Edit item:</label>
                <textarea class="form-control" rows="14" ng-model="formData.text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="updateTodo(formData._id)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button type="submit" class="btn btn-warning" ng-click="cancelTodo()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
        </form>
    </div>
</div>
