<div class="py-4 row" ng-show="action == 'home'">

    <style>
        div#start-image {
            margin: 0 0 1.0em 0;
        }        
        div#start-image img {
            padding: 1px;
            border: 1px solid #ccc;
            width: 100%;
            height: auto;
        }
        div#start-content {
            margin: 1.0em 0;
            text-align: justify;
        }
        div#start-button button {
            width: 100px;
            position: absolute;
            top: 200px;
            left: calc(50% - 50px);
        }
    </style>
    
    <div class="col-lg-10 offset-lg-1">
        <div id="start-image">
            <img src="img/start.png" alt="MEAN Stack Application">
        </div>
        <div id="start-button">
            <button class="btn btn-success" ng-click="getTodos()">Start</button>
        </div>
        <div id="start-content">Welcome to MEAN Stack Application!</div>
    </div>
    
    <script>
        $(document).ready(function() {
            $.getJSON('/api/subpage/index', function(response) {
                $('div#start-content').html(response.description);
            });
        });
    </script>
    
</div>
