<div ng-show="module == 'images'" ng-controller="imagesController" ng-init="getImages()">
   
    <div class="container" ng-show="action == 'list'">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-3 text-right">
                    <span class="list-title">Galeria</span>
                    <button class="btn btn-success font-awesome" ng-click="newImage()"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowy obrazek</button>
                    <button class="btn btn-primary font-awesome" ng-click="getImages()"><i class="fa fa-refresh" aria-hidden="true"></i> Odśwież listę</button>
                    <button class="btn btn-danger" ng-click="getPanel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Lp.</th>
                        <th>Podgląd</th>
                        <th>Indeks</th>
                        <th class="text-left">Nazwa pliku</th>
                        <th>Wielkość</th>
                        <th>Typ</th>
                        <th>Data</th>
                        <th colspan="2" class="text-center">Akcje</th>
                    </tr>
                    <tr ng-repeat="image in images">
                        <td>{{ $index + 1 }}</td>
                        <td><a href="#preview" ng-click="previewImage(image._id)"><img src="/img/{{ image.filename }}" class="preview"></a></td>
                        <td>{{ image.index }}</td>
                        <td class="text-left">{{ image.filename }}</td>
                        <td>{{ image.filesize | bytes }}</td>
                        <td>{{ image.filetype }}</td>
                        <td>{{ image.date | date: "dd.MM.yyyy HH:mm:ss" }}</td>
                        <td class="text-center">
                            <button class="btn btn-primary action" ng-click="editImage(image._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger action" ng-click="deleteImage(image._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="images.length == 0">
                        <td colspan="9">Brak pozycji.</td>
                    </tr>
                </table>
                <div class="py-3 text-center">
                    Statystyka: <b>{{ images.length }}</b> stron
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" ng-show="action == 'new'">
        <div class="py-4 row">
            <div class="col-lg-10 offset-lg-1">
                <form method="post" class="form" role="form">
                    <div class="form-group text-left">
                        <h6>Indeks:</h6>
                        <input type="text" name="index" class="form-control" ng-model="formData.index"> 
                        <h6>Obrazek:</h6>
                        <input type="file" name="file" class="form-control" file-model="formData.file"> 
                    </div>
                    <button type="submit" class="btn btn-primary font-awesome" ng-click="createImage()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz</button>
                    <button type="button" class="btn btn-warning font-awesome" ng-click="cancelImage()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'edit'">
        <div class="py-4 row">
            <div class="col-lg-10 offset-lg-1">
                <form method="post" class="form" role="form">
                    <div class="form-group text-left">
                        <h6>Indeks:</h6>
                        <input type="text" name="index" class="form-control" ng-model="formData.index"> 
                        <h6>Obrazek:</h6>
                        <input type="file" name="file" class="form-control" file-model="formData.file"> 
                    </div>
                    <button type="submit" class="btn btn-primary font-awesome" ng-click="updateImage(formData._id)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz</button>
                    <button type="button" class="btn btn-warning font-awesome" ng-click="cancelImage()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'preview'">
        <div class="py-4 row">
            <div class="col-lg-10 offset-lg-1">
                <div class="py-3 text-right">
                    <span class="list-title">Podgląd</span>
                    <button class="btn btn-danger" ng-click="cancelImage()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="text-center">
                    <img src="/img/{{ image.filename }}" style="max-width: 100%;">
                </div>
            </div>
        </div>
    </div>

</div>
