<div ng-show="module == 'images'" ng-controller="imagesController">
   
	<div class="container" ng-show="action == 'list'">
		<div class="row">
			<div class="col-lg-12">
				<div class="py-3 text-right">
					<span class="list-title"><i class="fa fa-picture-o" aria-hidden="true"></i> Galeria</span>
					<span class="list-search"><input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj"></span>
					<button class="btn btn-success font-awesome" ng-click="newImage()"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowy obrazek</button>
					<button class="btn btn-primary font-awesome" ng-click="getImages()" id="get-images"><i class="fa fa-refresh" aria-hidden="true"></i> Odśwież listę</button>
					<button class="btn btn-danger" ng-click="getPanel()"><i class="fa fa-times" aria-hidden="true"></i></button>
				</div>
				<table class="table table-bordered table-striped">
					<tr>
						<th>Lp.</th>
						<th>Podgląd</th>
						<th>Indeks</th>
						<th class="text-left">Nazwa pliku</th>
						<th>Wielkość</th>
						<th>Typ</th>
						<th>Data</th>
						<th colspan="2" class="text-center">Akcje</th>
					</tr>
					<tr ng-repeat="image in images | filter:searchValue">
						<td>{{ $index + 1 }}</td>
						<td><a href="#preview" ng-click="previewImage(image._id)"><img src="/images/index/{{ image.index }}" class="preview"></a></td>
						<td>{{ image.index }}</td>
						<td class="text-left">{{ image.filename }}</td>
						<td>{{ image.filesize | bytes }}</td>
						<td>{{ image.filetype }}</td>
						<td>{{ image.date | date: "dd.MM.yyyy HH:mm:ss" }}</td>
						<td class="text-center">
							<button class="btn btn-primary action" ng-click="editImage(image._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
						</td>
						<td class="text-center">
							<button class="btn btn-danger action" ng-click="deleteImage(image._id, false)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
						</td>
					</tr>
					<tr ng-if="images.length == 0">
						<td colspan="9"><span class="empty-list"><i class="fa fa-times-circle" aria-hidden="true"></i></span><br>Brak pozycji.</td>
					</tr>
				</table>
				<div class="py-3 text-center">
					Statystyka: <b>{{ images.length }}</b> obrazków
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" ng-show="action == 'new'">
		<div class="py-4 row">
			<div class="col-lg-10 offset-lg-1">
				<form method="post" class="form" role="form">
					<span class="form-title container"><i class="fa fa-picture-o" aria-hidden="true"></i> Galeria</span>
					<div class="form-group text-left">
						<h6>Indeks:</h6>
						<input type="text" name="index" class="form-control" ng-model="formData.index" required> 
						<h6>Obrazek:</h6>
						<input type="file" name="file" class="form-control" file-model="formData.file" required> 
					</div>
					<button type="submit" class="btn btn-primary font-awesome" ng-click="createImage()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz</button>
					<button type="button" class="btn btn-warning font-awesome" ng-click="cancelImage()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container" ng-show="action == 'edit'">
		<div class="py-4 row">
			<div class="col-lg-10 offset-lg-1">
				<form method="post" class="form" role="form">
					<span class="form-title container"><i class="fa fa-picture-o" aria-hidden="true"></i> Galeria</span>
					<div class="form-group text-left">
						<h6>Indeks:</h6>
						<input type="text" name="index" class="form-control" ng-model="formData.index" required> 
						<h6>Obrazek:</h6>
						<input type="file" name="file" class="form-control" file-model="formData.file" required> 
					</div>
					<button type="submit" class="btn btn-primary font-awesome" ng-click="updateImage(formData._id)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz</button>
					<button type="button" class="btn btn-warning font-awesome" ng-click="cancelImage()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
				</form>
			</div>
		</div>
	</div>

	<div class="container" ng-show="action == 'preview'">
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="py-3 text-right">
					<span class="list-title"><i class="fa fa-picture-o" aria-hidden="true"></i> Podgląd</span>
					<button class="btn btn-danger" ng-click="cancelImage()"><i class="fa fa-times" aria-hidden="true"></i></button>
				</div>
				<div class="text-center">
					<img src="/images/index/{{ image.index }}" class="full-preview">
					<div class="py-2">Fot. {{ image.index }}. <b>"{{ image.filename }}"</b></div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="py-4 row">
			<div class="col-lg-6 offset-lg-3">
				<div ng-if="status == 'info'" class="alert alert-success" role="alert">{{ message }}</div>
				<div ng-if="status == 'error'" class="alert alert-danger" role="alert">{{ message }}</div>
			</div>
		</div>
	</div>

	<div class="container" ng-show="action == 'dialog'">
		<div class="py-4 row">
			<div class="col-lg-6 offset-lg-3">
				<div class="panel panel-dialog">
					<div class="panel-heading">Usuwanie rekordu</div>
					<div class="panel-body">
						<p><div class="icon"><i class="fa fa-3x fa-trash-o" aria-hidden="true"></i></div></p>
						<p>Uwaga! Czy na pewno chcesz usunąć wskazaną pozycję?</p>
					</div>
					<div class="panel-footer">
						<a href="#" class="btn btn-danger" ng-click="deleteImage(id, true)">Skasuj</a>
						<a href="#" class="btn btn-warning" ng-click="cancelImage()">Anuluj</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
