<div ng-show="module == 'settings'" ng-controller="settingsController">
   
    <div class="container" ng-show="action == 'list'">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-3 text-right">
                    <span class="list-title"><i class="fa fa-cog" aria-hidden="true"></i> Ustawienia</span>
                    <span class="list-search"><input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj"></span>
                    <button class="btn btn-success font-awesome" ng-click="newSetting()"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj nowe ustawienie</button>
                    <button class="btn btn-primary font-awesome" ng-click="getSettings()" id="get-settings"><i class="fa fa-refresh" aria-hidden="true"></i> Odśwież listę</button>
                    <button class="btn btn-danger" ng-click="getPanel()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Lp.</th>
                        <th class="text-left">Klucz</th>
                        <th class="text-left">Wartość</th>
                        <th class="text-left">Opis</th>
                        <th>Data</th>
                        <th colspan="2" class="text-center">Akcje</th>
                    </tr>
                    <tr ng-repeat="setting in settings | filter:searchValue">
                        <td>{{ $index + 1 }}</td>
                        <td class="text-left">{{ setting.name }}</td>
                        <td class="text-left">{{ setting.value | limitTo:128 }}<span ng-if="setting.value.length > 128">...</span></td>
                        <td class="text-left">{{ setting.description | limitTo:64 }}<span ng-if="setting.description.length > 64">...</span></td>
                        <td>{{ setting.date | date: "dd.MM.yyyy HH:mm:ss" }}</td>
                        <td class="text-center">
                            <button class="btn btn-primary action" ng-click="editSetting(setting._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger action" ng-click="deleteSetting(setting._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr ng-if="settings.length == 0">
                        <td colspan="7">Brak pozycji.</td>
                    </tr>
                </table>
                <div class="py-3 text-center">
                    Statystyka: <b>{{ settings.length }}</b> ustawień
                </div>
            </div>
        </div>
    </div>
    
    <div class="container" ng-show="action == 'new'">
        <div class="py-4 row">
            <div class="col-lg-10 offset-lg-1">
                <form class="form">
                    <div class="form-group text-left">
                        <h6>Klucz:</h6>
                        <input type="text" class="form-control" ng-model="formData.name"> 
                        <h6>Wartość:</h6>
                        <textarea class="form-control" rows="8" ng-model="formData.value" spellcheck="false"></textarea>
                        <h6>Opis:</h6>
                        <input type="text" class="form-control" ng-model="formData.description"> 
                    </div>
                    <button type="submit" class="btn btn-primary font-awesome" ng-click="createSetting()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz</button>
                    <button type="submit" class="btn btn-warning font-awesome" ng-click="cancelSetting()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container" ng-show="action == 'edit'">
        <div class="py-4 row">
            <div class="col-lg-10 offset-lg-1">
                <form class="form">
                    <div class="form-group text-left">
                        <h6>Klucz:</h6>
                        <input type="text" class="form-control" ng-model="formData.name"> 
                        <h6>Wartość:</h6>
                        <textarea class="form-control" rows="8" ng-model="formData.value" spellcheck="false"></textarea>
                        <h6>Opis:</h6>
                        <input type="text" class="form-control" ng-model="formData.description"> 
                    </div>
                    <button type="submit" class="btn btn-primary font-awesome" ng-click="updateSetting(formData._id)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Zapisz</button>
                    <button type="submit" class="btn btn-warning font-awesome" ng-click="cancelSetting()"><i class="fa fa-ban" aria-hidden="true"></i> Anuluj</button>
                </form>
            </div>
        </div>
    </div>
    
</div>
